<!-- Hero.html: La sección de bienvenida con el titular principal y los botones para alternar entre proyectos y perfil. -->
<section class="relative z-20 mb-4 mt-10 md:mb-6 md:mt-16 flex flex-col items-center">
    <div class="flex flex-col items-center gap-6 text-center">
        <div class="relative">
            <div class="absolute inset-0 z-[-1] flex justify-center">
                <div class="w-[120%] h-[120%] -top-[10%] rounded-full bg-primary/20 blur-[100px]"></div>
            </div>
            <h1 class="text-slate-900 dark:text-white text-5xl font-black leading-[1.1] md:text-7xl lg:text-8xl">
                Imaginando<br/>experiencias,<br/>
                <span class="text-transparent bg-clip-text bg-gradient-to-r from-primary via-blue-400 to-indigo-400">diseñando<br/>soluciones.</span>
            </h1>
        </div>
        <h2 id="hero-anchor" class="max-w-2xl text-slate-500 dark:text-slate-400 text-base md:text-xl font-normal px-4">
            Cerrando la brecha entre la visión creativa y la ejecución técnica.<br class="hidden md:block"/> Fusión de Diseño Gráfico, Diseño Digital y Programación Web.
        </h2>
    </div>
</section>

